.bg-chiffo {
  background: #6f2c63;
}

/*CSS header*/

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 45%;
  height: auto;
}

.menu-nav {
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', sans-serif;
  margin-top: 15px;
}

.nav-link-color {
  color: #6f2c63af;
  text-decoration: none;
  font-size: 25px;
  margin: 15px;
}

.nav-link-color:hover {
  color: #6f2c63;
}

.linear-gradient {
  background: linear-gradient(#6f2c63, #6f2c63,#6f2c63,#6f2c63, white);
}

/*CSS Contenu*/

h1, h3 {
  color: #6f2c63af;
  padding: 10px;
}

.photo-boutique {
  float: right;
  width: 28%;
  border-radius: 10px;
  margin: 10px;
  margin-left: 20px;
}

.presentation {
  padding: 10px;
  text-align: justify;
}

.presentation-text {
  font-size: 20px;
}

.nom-adresse {
  font-size: 18px;
}

.adresse-boutique {
  font-size: 16px;
}

.card {
  margin: 20px;
}

.card-body {
  font-size: 18px;
}

/*CSS Footer*/

.linear-gradient-reverse {
  background: linear-gradient(white,#6f2c63, #6f2c63,#6f2c63,#6f2c63);
}

.footer-list {
  margin: 20px;
}

.footer{
  line-height: 18px;
}

.font-16 {
  font-size: 16px;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.footer-link:hover,
.nom-adresse {
  color: rgb(214, 146, 57);
}

.nom-adresse {
  font-size: 18px;
}

.social-link {
  color: white;
}

.social-link:hover {
  color: rgb(214, 146, 57);
}

@media screen and (max-width: 768px) {
  .navbar-md {
    background: #6f2c63;
  }

  .nav-link-color {
    color: #6f2c63af;
  }

  .logo {
    width: 80%;
    height: auto;
  }

  .hidden {
    display: none;
  }  
}



@media screen and (min-width: 769px) {
  .hidden-l-xl {
    display: none;
  }

  .card-deck {
    display: flex;
  }

  .card-presse {
    width: 70%;
  }
}


